<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>FIX_ACST</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<true/>
				<key>FixSBUS</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixWAK</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename Windows 2015 to Darwin</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>V2luZG93cyAyMDE1</data>
					<key>Replace</key>
					<data>RGFyd2lu</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuSsdt</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>darkwake=8 slide=8</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>XMPDetection</key>
		<integer>1</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#UseARTFrequency</key>
		<true/>
		<key>HWPEnable</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#Audio</key>
		<dict>
			<key>#Inject</key>
			<string>0x0887</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>PPMC</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,a121</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>pci8086,a121</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>cHIAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>IaEAAA==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1F.02</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject HDEF</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>platformFamily</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>MaximumBootBeepVolume</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>PinConfigurations</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>BwAAAA==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1F.03</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject Intel HD properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>axAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,ig-platform-id</string>
						<key>Value</key>
						<data>AAASGQ==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>model</string>
						<key>Value</key>
						<string>Intel HD Graphics 530</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,GfxYTile</string>
						<key>Value</key>
						<data>AQAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,Gfx324</string>
						<key>Value</key>
						<data>AQAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL00,PanelCycleDelay</string>
						<key>Value</key>
						<data>+gAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL00,PanelPowerDown</string>
						<key>Value</key>
						<data>PAAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL00,PanelPowerOff</string>
						<key>Value</key>
						<data>EQAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL00,PanelPowerOn</string>
						<key>Value</key>
						<data>GQEAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL00,PanelPowerUp</string>
						<key>Value</key>
						<data>MAAAAA==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:02.00</string>
			</dict>
		</array>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x19128086</string>
		</dict>
		<key>NoDefaultProperties</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1280x1024</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x19120000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change 15 port limit to 24 in XHCI kext 10.13 PB1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32MEA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g32MHw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change 15 port limit to 24 in XHCI kext 10.13.4+</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32UDw+DlwQAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32UH5CQkJCQkA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02445501RUG8JRAM</string>
		<key>ROM</key>
		<data>fG34t6Gw</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>#Trust</key>
		<true/>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM171.88Z.0110.B00.1708080012</string>
		<key>Board-ID</key>
		<string>Mac-B809C3757DA9BB8D</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02445501RUG8JRAM</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>iMac17,1</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE136</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>ProductName</key>
		<string>iMac17,1</string>
		<key>SerialNumber</key>
		<string>C02R51D5GG7L</string>
		<key>SmUUID</key>
		<string>AA85D9E1-5C5B-4F83-A823-7A2ED55083A7</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>